/*---------------*/
/* Custom Props  */
/*---------------*/

:root {
  --clr-main: 180, 194, 233 ;
  --clr-2nd: 196, 113, 237 ;
  --clr-3rd: 246, 79, 89 ;
  --clr-char: 44, 44, 44 ;
  --clr-blk: 0, 0, 0 ;
  --clr-wht: 245, 245, 245 ;

  --ff-l: 'Barlow Condensed', serif;
  --ff-m: 'Bebas Neue', sans-serif;
  --ff-s: 'Inter', sans-serif;

  --fs-9: 7rem;
  --fs-8: 5rem;
  --fs-7: 3.5rem;
  --fs-6: 2rem;
  --fs-5: 1.75rem;
  --fs-4: 1.25rem;
  --fs-3: 1rem;
  --fs-2: 0.875rem;

  --ls-1: 1.8px; 
  --ls-2: 2.35px;
  --ls-3: 4.75px;
  --ls-4: 8px;

}

/*---------------*/
/* Reset         */
/*---------------*/

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  font-weight: 400;
}


body {
  font-family: var(--ff-s);
}

img,
picture {
  max-width: 100%;
  display: block;
}

h3 {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 8px;
  text-transform: uppercase;
  background-color: #3e3e3e3e;
  color: transparent;
  text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
  margin: 0.3em auto;

  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  background-color: #f5f5f5;

}

.App {
  text-align: center;
  background-color: #f5f5f5;
  display: flex;
  flex-wrap: wrap;
}

.App-header {
  height: 5em;
  box-shadow: 0px 10px 35px #d0d0d0;
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-inline: 3em;
  position:fixed;
  top:0;
  z-index: 99;
  background-color: #f5f5f5;
}

.headerh1 {
  font-size: 3em;
  color:#3e3e3e3e;
  text-shadow: 3px 3px 5px #d0d0d0,
  -3px -3px 5px #ffffff;

}

.navbar {
  color:#3e3e3e3e;
  padding: 1em 2.2em;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #d0d0d0,
  -3px -3px 5px #ffffff;
}

.iconwing {
  min-width: 4.5em;
  min-height: 30vh;
  padding: 0.5em 1em ;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.bottombar {
  min-width: 8em;
  max-width: 60%;
  margin: 1.5em auto;
  border-radius: 5px;
  min-height: 4.5em;
  box-shadow: 3px 3px 5px #d0d0d0,
  -3px -3px 5px #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5em 1em ;
}

.bottombar div {
  width: 33%;
  padding-inline: 1em;
  border-right: solid #3e3e3e70 1px;
  color: #3e3e3e70;
}

.bold {
  font-weight: 700;
}

.bottombar div:last-child {
  border-right: none;
}

.iconwing p {
  color: #3e3e3e70;
  padding-block: 1em;
  border-bottom: solid #3e3e3e70 1px;
}

.iconwing p:last-child {
  border-bottom: none;
}

.activenav {
box-shadow: inset 3px 3px 5px #d0d0d0,
inset -3px -3px 5px #ffffff;
}

.fullwidth {
  width: 100%;
}

.space-evenly {
  justify-content: space-evenly;
}

.center {
  justify-content: center;
}

.arrow-left {
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-right: 50px solid #3e3e3e3e;
	border-bottom: 25px solid transparent;
  margin-right: 1em;
}

.arrow-right {
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-left: 50px solid #3e3e3e3e;
	border-bottom: 25px solid transparent;
  margin-left: 1em;
}

.maindiv {
  width: 60%;
  min-height: 70vh;
  margin: 3em auto;
  background-color: #f5f5f5;
  box-shadow: 20px 20px 35px #d0d0d0,
  -20px -20px 35px #ffffff,
  inset -3px -3px 5px #d0d0d0,
  inset 3px 3px 5px #ffffff;
  border-radius: 20px;
}

.bigbtn {
  width: 8em;
  height: 8em;
  margin: 3em auto;
  box-shadow: 20px 20px 35px #d0d0d0,
  -20px -20px 35px #ffffff,
  inset -3px -3px 5px #d0d0d0,
  inset 3px 3px 5px #ffffff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

.parent {
  align-items: center;
  display: flex;
  width: 100%;
  padding-inline: 3em;
  gap: 1em;
}

.flexgap {
  display: flex;
  gap: 1em;
}

.my-photo {
  max-width: 100%;
  height: 37vh;
  border-radius: 115px 115px 20px 20px;
  margin-inline: 1em;
}

.portfolio-parent {
  width: 100%;
  min-height: 9em;
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

.portfolio-parent:first-of-type {
  margin-bottom: 1em;
}

.portfolio-child {
  height: 9em;
  width: 9em;
  overflow: hidden;
  box-shadow: 3px 3px 5px #d0d0d0,
   -3px -3px 5px #ffffff;
}

.port1 {
  border-radius: 9em 5px 5px 5px;
  transition: 0.5s;
}

.port2 {
  border-radius: 5px 9em 5px 5px;
  transition: 0.5s;
}

.port3 {
  border-radius: 5px 5px 5px 9em;
  transition: 0.5s;
}

.port4 {
  border-radius: 5px 5px 9em 5px;
  transition: 0.5s;
}

.port1:hover,
.port2:hover,
.port3:hover,
.port4:hover {
  border-radius: 5px 5px 5px 5px;
  transition: 0.5s;

}

.portphoto {
  min-height: 9em;
  object-fit: cover;
}

.caption {
  width: 20%;
  color: #3e3e3e70;
}

.fullparent {
  height: 100vh;
  padding-top: 5em;
}

.contact-div {
  margin: 0 auto;
  width: 100%;
  height: 43vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-icon-img {
  width: 60px;
  height: 60px;
  opacity: 40%;
}

.contact-icon {
  padding: 2em;
}
